.category
  .content-item__descr
    justify-content: center
    align-items: center
    padding-left: 30px
    padding-right: 30px
    +tablet-album-device-down
      padding-left: 5px
      padding-right: 5px
    +tablet-down
      padding-left: 5px
      padding-right: 5px
    +tablet-down
      justify-content: center

  .cat-row
    justify-content: space-between
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
