.category
  .content-item__descr
    justify-content: center
    align-items: center
    padding-left: 30px
    padding-right: 30px
    +tablet-album-device-down
      padding-left: 5px
      padding-right: 5px
    +tablet-down
      padding-left: 5px
      padding-right: 5px
    +phone-down
      justify-content: center

  &.category--mb30
    margin-bottom: 30px

  .cat-row
    justify-content: space-between
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

  .content-wrap
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: flex-start
    width: 100%
    +phone-down
      height: 100%
