.content
  flex-grow: 1
  padding: $p_content
  &.m-collapsed
    padding: $p_content_m_collapsed

  &-in
    margin-left: $w_left_side_m_sm
    display: flex
    flex-direction: column

  &.about
    .content-in
      z-index: 2
      width: $w_content_in_about
      min-height: $h_content_in_about
      position: absolute
      left: 50%
      top: 50%
      margin-left: 0
      margin-top: calc(#{$h_content_in_about} / -2)
      padding: 30px 40px 40px
      border-radius: $rad_about
      background: $bg_body
      &:after
        content: ""
        position: absolute
        top: 0px
        right: 0px
        width: calc(100% / 2)
        height: 100%
        border-top-right-radius: $rad_about
        border-bottom-right-radius: $rad_about
        border: 0.5px solid $bg_menu
        border-left-width: 0px
        +laptop_1024-down
          //width: calc(#{$w_content_in_about_laptop} / 2)

      +laptop_1024-down
        //width: $w_content_in_about_laptop
        padding: 15px 20px 15px
        //margin-left: calc(-#{$w_content_in_about_laptop} / 2)

    .content__center
      p
        text-align: justify
        margin-bottom: 20px
    .content__footer
      text-align: center


  &__center
    flex-grow: 1

  &__footer
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: auto


