.content
  flex-grow: 1
  //padding: $pt_content $pr_content $pb_content $pl_content
  padding: $pt_content 0 $pb_content 20px
  margin-left: $w_left_side_m_sm
  //background-color: grey
  +laptop-album-down
    padding-left: $p_content_laptop
    padding-right: $p_content_laptop
  +tablet-down
    padding-left: $p_content_tablet
    padding-right: $p_content_tablet
    padding-top: $pt_content_tablet
  +tablet-device-height
    //padding-left: $p_content_tablet
    //padding-right: $p_content_tablet
    padding-top: $pt_content_tablet
  +tablet-album-device-down
    padding-left: $p_content_tablet
    padding-right: $p_content_tablet
    padding-top: 10px
  +tablet-down
    margin-left: 0
    margin-top: 40px
    //margin-bottom: 40px
    padding: 0 5px
    background: #ffffff
    border-radius: 10px

    //background: lightgreen
  &.m-collapsed
    margin-left: calc(#{$w_nav} + #{$p_container_laptop})
    align-self: center
    width: calc(100% - #{$w_nav} - #{$p_container_laptop})
    +height_820
      width: calc(100% - #{$w_nav} - #{$p_container_tablet})
    +tablet-down
      margin-left: calc(#{$w_nav_tablet} + #{$p_container_tablet})
      width: calc(100% - #{$w_nav_tablet} - #{$p_container_tablet})
    +tablet-device-height
      margin-left: calc(#{$w_nav_tablet} + #{$p_container_tablet})
    +tablet-album-device-down
      margin-left: calc(#{$w_nav_tablet} + #{$p_container_tablet})
      min-width: calc(100% - #{$w_nav_tablet} - #{$p_container_tablet})
    +tablet-down
      margin-left: 0
      width: 100%!important


  &.m-sm
    margin-left: $w_left_side_m_sm
    +tablet-down
      margin-left: 0
    +tablet-device-height
      margin-left: calc(#{$w_nav_tablet} + #{$p_container_tablet})
    +phone-height-down
      margin-left: 0px
  &-in
    display: flex
    flex-direction: column
    height: calc(100vh - 250px)
    &.m-sm
      padding: 0px 40px
    +tablet-album-device-down
      height: calc(100vh - 180px)
    +tablet-down
      //height: calc(100vh - 195px)
    +tablet-down
      height: calc(100vh - 80px)
    +phone-landscape-down
      height: calc(100vh - 50px)

  &__center
    flex-grow: 1
    justify-content: flex-start
    margin-bottom: 20px
    +tablet-down
      margin-bottom: 0px
    p
      text-align: justify
      //margin-bottom: 20px

  &__center.items
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    height: 85%
    //height: 100%
    //max-height: calc(100vh - 350px)
    //background-color: green
    +desktop-device-height
      flex-grow: unset
      height: auto
      //height: auto
    //+tablet-album-device-down
      //max-height: calc(100vh - 295px)
    //   min-height: calc(100vh - 295px)
    // +tablet-down
    //   min-height: calc(100vh - 295px)
    //   max-height: 100%
      //calc(100vh - 150px)
    +tablet-device-height
      max-height: 100%

  &__footer
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: auto
    z-index: 10
    // +laptop-album-down
    //   justify-content: center
    //   flex-direction: column
    +tablet-down
      position: relative
      z-index: 2
      margin: auto 0px 15px
      padding-right: 5px
