.content
  flex-grow: 1
  padding: $pt_content $pr_content $pb_content $pl_content
  margin-left: $w_left_side_m_sm
  background-color: grey
  +laptop-album-down
    padding-left: $p_content_laptop
    padding-right: $p_content_laptop
  +tablet-down
    padding-left: $p_content_tablet
    padding-right: $p_content_tablet
    padding-top: $pt_content_tablet
  +tablet-album-device-down
    padding-left: $p_content_tablet
    padding-right: $p_content_tablet
    padding-top: 10px
  &.m-collapsed
    margin-left: calc(#{$w_nav} + #{$p_container_laptop})
    align-self: center
    +tablet-down
      margin-left: calc(#{$w_nav_tablet} + #{$p_container_tablet})
    +tablet-album-device-down
      margin-left: calc(#{$w_nav_tablet} + #{$p_container_tablet})
  &.m-sm
    margin-left: $w_left_side_m_sm
  &-in
    display: flex
    flex-direction: column
    height: 100%
    &.m-sm
      padding: 0px 40px

  &__center
    flex-grow: 1
    justify-content: flex-start
    p
      text-align: justify
      margin-bottom: 20px

  &__center.items
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    height: 100%
    max-height: calc(100vh - 350px)
    //background-color: green
    +desktop-device-height
      flex-grow: unset
      height: auto
    +tablet-down
      max-height: 100%
      //calc(100vh - 150px)

  &__footer
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 20px
    z-index: 10
    +laptop-album-down
      justify-content: center
      flex-direction: column
