.header
  &__contacts
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-left: auto
    max-width: 430px
  .ic
    margin-bottom: 4px


.contacts
  font-size: 20px
  line-height: 1.2
  font-family: $font_MontAlt_Medium
  font-weight: 500
  &__r
    min-width: 215px
    margin-left: 20px

.logo
  display: flex
  width: $w_logo
  height: $h_logo
  &__link
    display: flex
  &__img
    width: 100%
    height: auto

.left-side
  display: block
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: $w_left_side
  height: 100vh
  min-height: 500px
  background-color: $bg_menu
  padding: $pt_left_side $pr_left_side $pb_left_side $pl_left_side
  border-radius: 0px 200px 100px 0px

  .logo
    margin-bottom: $mb_logo

  &.m-collapsed
    width: calc(#{$w_nav} + 30px)
    border-radius: 0px 150px 50px 0px
    padding-top: 45px
    .logo
      width: $w_logo_collapsed
      height: $h_logo_collapsed
      margin-bottom: $mb_logo_collapsed
    .banner
      display: none

  &.m-sm
    width: $w_left_side_m_sm

.nav-wrap
  display: flex
  margin-left: -#{$pl_left_side}
  height: calc(100% - #{$h_logo} - #{$mb_logo})

.nav
  background-color: $bg_dark
  color: $col_bg_dark
  width: $w_nav
  height: 100%
  display: flex
  align-items: flex-start
  justify-content: center
  padding: 50px 40px 0px 35px
  +tablet-down
    padding-top: 40px

.menu
  list-style: none
  position: relative
  &:before
    content: ""
    position: absolute
    top: 18px
    left: 1px
    height: calc(100% - 40px)
    border-left: 0.3px dashed #FFFFFF
  &>.menu-item
    margin-left: 17px
    position: relative
    font-size: 26px
    line-height: 1.2
    &:before
      content: ""
      width: $w_menu_it_before
      height: $h_menu_it_before
      position: absolute
      left: calc(-12px - #{$w_menu_it_before})
      top: 13px
      background-color: #FFFFFF
      transform: rotate(-45deg)
    &.active, &:active
      &:before
        width: calc(#{$w_menu_it_before} + 3px)
        height: calc(#{$h_menu_it_before} + 3px)
        left: calc(-10px - #{$w_menu_it_before} - 3px)

  &>.menu-item.folded
    .submenu
      display: none

  &>.menu-item.folded.active
    .submenu
      display: block

  .menu-item.active, .menu-item:active, .menu-item:hover
    &>a
      color: $col_acsent
      font-weight: 600

  .menu-item
    a
      margin-top: $mt_menu_it
      margin-bottom: $mt_menu_it


.submenu
  list-style: none
  .menu-item
    margin-left: calc( #{$w_menu_it_sub} - 10px)
    position: relative
    font-size: 20px
    line-height: 1.2
    &:before
      content: ""
      border-bottom: 0.3px dashed #FFFFFF
      width: $w_menu_it_sub
      position: absolute
      left: calc(-5px - #{$w_menu_it_sub})
      top: 15px

.banner
  flex-grow: 1
  height: 100%
  border-radius: 0px 200px 100px 0px
  overflow: hidden
  img
    width: 100%
    height: 100%
    +laptop-down
      width: auto

