.content-portfolio-maf
  .content__center
    h2.title
      color: $col_main
      text-align: left

.img-row
  display: flex
  justify-content: space-around

.img-wrap
  margin-right: 10px
  &:last-child
    margin-right: 0px
  img
    width: 100%
    height: auto