.content-portfolio
  font-family: $font_MontAlt_Regular

  .content__header
    margin-bottom: 70px
    +laptop-down
      margin-bottom: 20px
    +phone_min-down
      margin-bottom: 25px

  .content__footer
    +laptop-album-down
      align-items: flex-end

  .content-wrap
    display: flex
    justify-content: space-between
    height: 100%
    margin-top: 20px
    +laptop-down
      flex-direction: column
      justify-content: flex-start
      align-items: center
      margin-top: 60px
    +tablet-down
      margin-top: 0px
    +tablet-device-height
      margin-top: 0px
    +tablet-album-device-down
      flex-direction: row
      justify-content: space-between
      align-items: flex-start
      margin-top: 0px
    +phone-down
      margin-top: 13px
      justify-content: space-evenly
    +phone_min-down
      margin-top: 18px
      flex-direction: column
      height: auto
      align-items: center

  .content__center p
    margin-bottom: 10px
    +tablet-down
      margin-bottom: 15px
    +tablet-device-height
      margin-bottom: 15px
    +tablet-album-device-down
      margin-bottom: 15px
    +phone-down
      margin-bottom: 5px


  .content-item--productCat
    +laptop-down
      width: 49%
      max-height: 286px
      margin-bottom: 20px
    +tablet-down
      max-width: 340px
      max-height: 217px
    +tablet-device-height
      max-width: 340px
      max-height: 217px
    +tablet-album-device-down
      max-width: 340px
      max-height: 217px
    +phone-down
      width: 43%
    +phone_min-down
      width: 78%
      margin-bottom: 15px

    .content-item__img
      +laptop-album-down
        height: 100%