.content-portfolio
  font-family: $font_MontAlt_Regular

  .content__footer
    +laptop-album-down
      align-items: flex-end

  .content__center p
    margin-bottom: 10px
    +phone-down
      margin-bottom: 7px

  h3
    +tablet-album-device-down
      font-size: 13px