.products_cats
  margin: 0 auto

  .content-item--productCat
    min-height: 280px
    height: 280px
    margin-right: 40px
    &:last-child
      margin-right: 0

    +tablet-down
      margin-right: 0
      margin-bottom: 21px
      &:last-child
        margin-bottom: 0

    .content-item__img
      +phone-down
        display: none



.cat-row
  display: flex
  justify-content: center
  margin-bottom: 21px
  &:last-child
    margin-bottom: 0
  +tablet-down
    flex-direction: column




