.products_cats
  margin: 0 auto

  .content-item--productCat
    min-height: 280px
    height: 280px
    margin-right: 40px
    &:last-child
      margin-right: 0

    +tablet-down
      margin-right: 0
      margin-bottom: 21px
      &:last-child
        margin-bottom: 0

    .content-item__img
      +phone-down
        display: none


.category
  &.category--mb30
    margin-bottom: 30px
  .cat-link
    width: 50%
    & .content-item
      width: 100%
      max-width: 420px
      min-width: 226px
      min-height: 233px
  .content-item
    margin-right: 10px
    &:last-child
      margin-right: 0px

  .cat-row
    justify-content: space-between
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

  .content-item__descr
    justify-content: flex-start
    align-items: center
    padding-left: 30px
    padding-right: 30px


.cat-row
  display: flex
  justify-content: center
  margin-bottom: 21px
  &:last-child
    margin-bottom: 0
  +tablet-down
    flex-direction: column




