.productInfo
  .breadcrumbs
    +phone-down
      margin-bottom: 5px
  .title-main
    +phone-landscape-down
      padding: 5px 0
  .info
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 20px
    +laptop-down
      flex-direction: column
    +tablet-album-device-down
      margin-bottom: 30px
      flex-direction: row
    +tablet-down
      flex-direction: column
      margin-bottom: 10px
    +phone-down
      margin-bottom: 0
    +phone-landscape-down
      margin: 0 20px
      width: 60%

  .info__slider
    width: 40%
    +laptop-down
      width: 100%
      margin-bottom: 30px
    +phone-down
      max-width: 250px

  .info__descr
    width: 55%
    +laptop-down
      width: 100%
    //background: lightgreen

  .cat-row
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 0
    +tablet-down
      flex-direction: row
    +phone-down
      align-items: stretch
    .col
      width: 65%
      +laptop-down
        width: 55%
      +phone-down
        width: 68%
      &.info__caption
        width: 30%
        text-align: right
        line-height: 1.2
        +laptop-down
          width: 40%
          margin-right: 5px
        +phone-down
          width: 30%
        +phone-down
          font-size: 10px
        &.info__caption--selfAlign
          align-self: stretch
          line-height: 32px
          +laptop-device-down
            line-height: 24px
          +tablet-album-device-down
            line-height: 20px
          +tablet-down
            line-height: 17px
          +phone-down
            line-height: 12px

      &.info__text
        font-family: $font_MontAlt_Medium
        text-align: left
        +laptop-device-down
          font-size: 16px
          line-height: 1.2
        +tablet-album-device-down
          font-size: 14px
        +tablet-down
          font-size: 14px
        +phone-down
          font-size: 10px

  .info__text--highlight
    font-size: 26px
    line-height: 1.2
    color: $col_acsent
    +laptop-device-down
      font-size: 20px
    +tablet-album-device-down
      font-size: 16px
    +tablet-down
      font-size: 16px

  .content__center
    +phone-landscape-down
      margin-bottom: 5px
    .info-wrapper
      +phone-landscape-down
        display: flex
        min-height: 195px
    p
      +tablet-album-device-down
        margin-bottom: 10px
      +tablet-down
        margin-bottom: 5px
      //+phone-down
        margin-bottom: 0

  .descr
    text-align: left
    +phone-down
      font-size: 10px

    .title
      font-family: $font_MontAlt_Medium
      text-align: left
      +laptop-device-down
        font-size: 20px
        line-height: 1.2
      +tablet-album-device-down
        font-size: 16px
      +tablet-down
        font-size: 16px

  .tabs
    +phone-landscape-down
      width: 80%

.productInfo--content
  .content__footer
    +laptop-album-down
      flex-direction: row
      justify-content: space-between
    +phone-down
      margin: 0 0 8px