.content-services
  .content-item
    border-top-left-radius: 0px
    border-bottom-right-radius: 0px
    +tablet-down
      border-top-left-radius: 20px
      border-bottom-right-radius: 20px
    &__in
      border-top-left-radius: 0px
      border-bottom-right-radius: 0px
    &__img
      border-top-left-radius: 0px
      border-bottom-right-radius: 0px
      +tablet-down
        border-top-left-radius: 20px
        border-bottom-right-radius: 20px