.content-services, .nvf--content, .maf--content
  +laptop-down
    padding-left: 0
  +phone-down
    padding: 0px 5px

  .content__center
    +tablet-down
      justify-content: center!important
    .content-item
      +tablet-down
        margin: 0 5px
  .content-item--dark
    margin: 0

@media screen and (max-height: 825px)
  .content-services, .nvf--content, .maf--content
    .content__center
      justify-content: center
    .content-item
      height: 50px
      width: 230px
      margin: 0 5px
      border-radius: 10px
    .title
      font-size: 19px
    .content-item__in
      justify-content: center
    .content-item__img
      display: none
    .content-item__descr
      align-items: center

@media screen and (max-width: 665px)
  .content-services, .nvf--content, .maf--content
    .content__center
      justify-content: center
    .content-item
      height: 50px
      width: 230px
      border-radius: 10px
    .title
      font-size: 16px
    .content-item__in
      justify-content: center
    .content-item__img
      display: none
    .content-item__descr
      align-items: center
  .nvf--content
    .title
      font-size: 15px
