.content-servicesi
  .content-in
    +laptop-album-down
      padding-left: 20px
    +tablet-down
      padding-left: 0
  .content-item__in
    padding: 15px
    p
      +height_820
        font-size: 16px
        margin-bottom: 0px
      +laptop-album-down
        font-size: 16px
        margin-bottom: 10px
      +laptop-down
        font-size: 13px
        margin-bottom: 5px
      +tablet-down
        font-size: 12px
      +tablet-device-height
        margin-bottom: 0!important
    .title
      +tablet-down
        margin-bottom: 5px

  .btn-offer
    height: 60px
    width: 350px
    border-radius: 10px
    background-color: #FC5B1F
    align-self: center
    font-family: $font_MontAlt_SemiBold
    font-size: 20px
    font-style: normal
    font-weight: 600
    line-height: 24px
    margin-top: 10px
    +laptop-down
      width: 300px
      height: 40px
      border-radius: 10px
      font-size: 18px
      line-height: 22px
    +tablet-down
      width: 200px
      height: 30px
      font-size: 12px
      line-height: 15px
      padding: 0
