

.content-servicesi
  +laptop-album-down
    align-self: flex-start!important
    width: calc(100% - #{$w_nav})
    margin-left: calc(#{$w_nav})!important

  +tablet-down
    margin-left: 0!important
    align-self: unset!important
    width: 100%
  .content-in
    +laptop-album-down
      padding-left: 20px
    +tablet-down
      padding-left: 0
  .breadcrumbs
    margin-bottom: 10px
  .content-item__in
    padding: 15px
    p
      +height_820
        font-size: 16px
        margin-bottom: 0px
      +laptop-album-down
        font-size: 16px
        margin-bottom: 10px
        //background-color: yellow
      +laptop-down
        font-size: 13px
        margin-bottom: 5px
      +tablet-down
        font-size: 12px
      +tablet-device-height
        margin-bottom: 0!important
      // +tablet-down
      //   font-size: 10px
    .title
      +tablet-down
        margin-bottom: 5px
  // .content-item--dark .content-item__in
  //   +tablet-device-height
  //     overflow-y: scroll

  .scrolled
    overflow-y: hidden
    +tablet-down
      overflow-y: scroll

  .btn-offer
    height: 60px
    //width: 40%
    width: 350px
    border-radius: 10px
    //border-radius: 20px
    background-color: #FC5B1F
    align-self: center
    font-family: $font_MontAlt_SemiBold
    font-size: 20px
    font-style: normal
    font-weight: 600
    line-height: 24px
    margin-top: 10px
    +laptop-down
      width: 300px
      height: 40px
      border-radius: 10px
      font-size: 18px
      line-height: 22px
    +tablet-down
      width: 200px
      height: 30px
      font-size: 12px
      line-height: 15px
      padding: 0
