.content-services
  padding: 0
  //margin-left: $w_left_side_m_sm + 47
  background-color: red
  height: calc(100% - 285px)!important
  //113 - top space 172 - bottom space
  width: calc(100% - 45% - 40px)

  .content-in .content__center
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-evenly
      align-items: center
      background-color: green
      height: 100%

  .content-item
    width: 44%
    height: 27%
    min-width: 240px
    min-height: 30px

  .content-item--dark
    margin: 0

.content-servicesi
  //padding: 0!important
  //width: 915px
  //background-color: red
  .content-in
    .content__center
      display: flex
      flex-direction: column
      //flex-grow: 1
    .content-item--dark
      flex-grow: 1
    //.content__footer
      margin-top: 20px
      display: flex
      justify-content: space-between
      //background-color: red
      width: 915px
      align-self: center

  .breadcrumbs
    width: 915px
