.category
  .content__center.items
    max-height: calc(100vh - 350px)
  .content-item__descr
    justify-content: flex-start
    align-items: center
    padding-left: 30px
    padding-right: 30px

  &.category--mb30
    margin-bottom: 30px

  .cat-row
    justify-content: space-between
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0


.nvf--content
  .content__center.items
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: flex-start
    height: 100%

  .content-item
    height: 45%
    margin-right: 25px

.maf--content
  .breadcrumbs
    margin-bottom: 0
  .content__center.items
    justify-content: flex-start

  .content-item
    margin-right: 25px

.catalog--content
  .content-item--catalog
    height: 40%
    min-height: 30px



