.category
  .content__center.items
    max-height: calc(100vh - 350px)
  .content-item__descr
    justify-content: flex-start
    align-items: center
    padding-left: 30px
    padding-right: 30px

  &.category--mb30
    margin-bottom: 30px

  .cat-row
    justify-content: space-between
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0


.nvf--content
  .content__center.items
    align-items: flex-start

  .content-item
    height: 100%
    width: 49%
    max-height: 300px
    //margin-right: 25px
    +laptop-album-down
      max-width: 310px
      max-height: 210px
    +laptop-down
      //margin-right: 0
      height: 27%
      width: 49%
    +laptop-device-down
      height: 100%

    .content-item__img
      height: 235px

  .content__footer
    +laptop-album-down
      flex-direction: row
      justify-content: space-between

.maf--content
  .breadcrumbs
    margin-bottom: 0
    +laptop-album-down
      margin-left: -21%
    +laptop-device-down
      margin-left: 0
  .content__center.items
    justify-content: space-between
    +laptop-album-down
      padding: 0 15%
    +laptop-device-down
      padding: 0
    +laptop-down
      justify-content: space-between
  .content__footer
    +laptop-album-down
      flex-direction: row
      justify-content: space-between

  .content-item
    //margin-right: 25px
    +laptop-album-down
      max-width: 310px

    +laptop-down
      //margin-right: 0
      width: 48%
      height: 30%
      max-height: 280px

  .content-item__img
    +laptop-down
      height: 205px

.catalog--content
  .content-item--catalog
    height: 28%
    min-height: 30px
    +laptop-album-down
      height: 37%
      max-width: 310px
      max-height: 210px
    +laptop-down
      height: 28%
      width: 48%
  .content-item__descr
    +laptop-down
      font-size: 16px
  .content__footer
    +laptop-album-down
      flex-direction: row
      justify-content: space-between

  .content__center.items
    max-height: calc(100vh - 375px)

  .pagination
    width: 100%



