.productInfo
  .info
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 50px
    +laptop-down
      flex-direction: column
      margin-bottom: 20px

  .info__slider
    width: 40%
    +laptop-down
      width: 100%
      margin-bottom: 30px

  .info__descr
    width: 60%
    +laptop-down
      width: 100%
    //background: lightgreen

  .cat-row
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 0
    .col
      width: 65%
      +laptop-down
        width: 55%
      &.info__caption
        width: 30%
        text-align: right
        +laptop-down
          width: 43%
        &.info__caption--selfAlign
          align-self: stretch
          line-height: 32px

      &.info__text
        font-family: $font_MontAlt_Medium
        text-align: left
        +laptop-down
          font-size: 16px

  .info__text--highlight
    font-size: 26px
    line-height: 32px
    color: $col_acsent

  .descr
    text-align: left

    .title
      font-family: $font_MontAlt_Medium
      text-align: left

.productInfo--content
  .content__footer
    +laptop-album-down
      flex-direction: row
      justify-content: space-between