//components
.content-item
  background: $col_acsent
  border-radius: $rad_content_item
  padding: $p_content_item
  max-width: 420px
  width: 50%
  height: 30%
  min-width: 226px
  min-height: 30px
  //max-height: 233px
  +laptop-album-down
    max-height: 210px
    width: 48%
    min-width: 180px
  +laptop-down
    min-width: 175px
  +tablet-down
    width: 47%
    max-height: 155px
    max-width: 165px
  +tablet-device-height
    width: 47%
    max-height: 155px
    max-width: 165px
  +tablet-album-device-down
    max-height: 155px
  +phone-down
    max-width: 240px
    max-height: 30px
  +desktop-device-height
    height: auto
    margin-bottom: 20px
  h3
    +laptop-album-down
      font-size: 18px
    +laptop-down
      font-size: 16px
    +phone-down
      font-size: 14px

  &__in
    display: flex
    flex-direction: column
    height: 100%
    border-radius: $rad_content_item
    overflow: hidden
    +phone-down
      justify-content: center
  &__img
    overflow: hidden
    border-radius: $rad_content_item
    height: 100%
    width: 100%
    +laptop-album-down
      //height: 140px
    +tablet-down
      height: 155px
    +phone-down
      display: none

    +tablet-device-height
      height: 155px
    img
      width: 100%
      height: 100%

  &__descr
    font-size: 20px
    font-family: $font_MontAlt_Medium
    font-weight: 500
    color: #FFFFFF
    flex-grow: 1
    display: flex
    align-items: flex-start
    justify-content: center
    padding: 5px 0px
    +tablet-down
      font-size: 14px
    +tablet-device-height
      font-size: 14px
    +tablet-album-device-down
      font-size: 14px

  .title
    font-family: $font_MontAlt_Medium
    color: #FFFFFF

.content-item--catalog, .content-item--managment
  width: 450px
  height: 300px
  min-height: 300px

.content-item--catalog
  position: relative

  .content-item__img
    height: 100%
    img
      height: 100%

  .content-item__descr
    position: absolute
    bottom: $p_content_item
    left: $p_content_item
    width: calc(100% - #{$p_content_item}*2)
    padding: 7px 15px 7px
    justify-content: space-between
    background-color: $col_acsent_blur_06
    font-size: 18px
    line-height: 1.3
    .descr-vendorCode
      font-size: 14px
      +tablet-down
        font-size: 12px
      +tablet-device-height
        font-size: 12px
      +tablet-album-device-down
        font-size: 12px

.content-item--managment
  .content-item__in
    flex-direction: row
    background-color: $bg_dark_blur_04

  .content-item__img
    width: 200px
    min-width: 200px
    height: 100%
    background-color: $bg_dark
    img
      height: 100%

  .content-item__descr
    padding: 20px 5px
    flex-direction: column
    justify-content: flex-start
    .descr-name
      font-family: $font_MontAlt_Regular
    .descr-email
      font-size: 16px
    .descr-item
      display: block
      margin-bottom: 15px

.content-item--productCat
  width: 49%
  max-width: 450px
  max-height: 313px
  height: 42%
  position: relative
  &:hover
      .content-item-hover
          visibility: visible
          opacity: 1

  .content-item__descr
    padding-left: 9%
    padding-right: 9%
    min-height: 63px
    align-items: center

  .content-item-hover
    //display: none
    visibility: hidden
    opacity: 0
    transition: .3s visibility linear, .3s opacity linear
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-color: rgba(58, 58, 58, 0.8)
    border-radius: 20px
    color: #FFFFFF
    font-family: $font_MontAlt_Light
    font-size: 20px
    font-weight: 300
    padding: 5% 14%
    .title
      font-family: $font_MontAlt_Regular
      margin-bottom: 15px

    .content-in__list
      margin-left: 8%
      li
        margin-bottom: 4%

.content-item--dark
  padding: $p_content_item_dark
  max-width: 915px
  width: 100%
  //min-height: 740px
  //height: 100%
  .content-item__in
    min-height: 100%
    padding: 20px
    background-color: $bg_dark
    font-size: 18px
    color: #ffffff
    +tablet-down
      font-size: 14px
    +tablet-device-height
      font-size: 14px
    +phone-down
      font-size: 12px
    .title
      margin-bottom: 20px
      +tablet-down
        font-size: 18px
      +tablet-device-height
        font-size: 18px
      +phone-down
        font-size: 12px
    p
      margin-bottom: 20px


.dev-company
  font-size: 18px
  color: #FFFFFF
  width: 410px
  .logo
    width: 100%
    height: 57px
    margin-bottom: 5px
  .title
    color: #FFFFFF
    margin-bottom: 10px
  &__in
    background-color: $bg_dark
  &__head
    font-family: $font_MontAlt_Regular
    background-color: $col_acsent
    padding: 20px 10px

  &__list
    padding: 20px 20px 20px 40px
    list-style: none
    li
      margin-bottom: 15px
      position: relative
      &:before
        content: ""
        width: 11px
        height: 11px
        position: absolute
        left: calc(-12px - 11px)
        top: 3px
        background-color: #FFFFFF
        transform: rotate(-45deg)
      &:last-child
        margin-bottom: 0px
