//general font
$fontSize_body: 18px
$lineHeight_body: 1.2

//general fonts
$font_MontAlt_Light: 'MontserratAlt-Light', Arial, sans-serif
$font_MontAlt_Medium: 'MontserratAlt-Medium', Arial, sans-serif
$font_MontAlt_Regular: 'MontserratAlt-Regular', Arial, sans-serif
$font_MontAlt_SemiBold: 'MontserratAlt-SemiBold', Arial, sans-serif

//general color
$bg_body: #FFFFFF
$bg_dark: #3A3A3A
$bg_dark_blur: rgba(58, 58, 58, 0.6)
$bg_dark_blur_04: rgba(58, 58, 58, 0.4)
$bg_menu: #A50000
$col_main: #434343
$col_bg_dark: #FFFFFF
$col_acsent: rgb(252, 91, 31) //orange #FC5B1F
$col_acsent_blur: rgba(252, 91, 31, 0.5)
$col_acsent_blur_06: rgba(252, 91, 31, 0.6)

//h1, h2, h3
$fontSize_h2: 26px
$lineHeight_h2: 2
$fontSize_h2_tablet: 20px
$lineHeight_h2_tablet: 1.2
$fontSize_h2_phone: 16px
$lineHeight_h2_phone: 1.2

$fontSize_h3: 23px
$fontSize_h3_tablet: 18px
$fontSize_h3_mob: 16px
$lineHeight_h3: 1.2

$fontSize_h4: 20px
$lineHeight_h4: 1.2

$fontSize_h5: 18px
$lineHeight_h5: 1.2

$phone-width-min: 320px

$w_logo: 427px
$h_logo: 77px
$w_logo_tablet: 216px
$h_logo_tablet: 28px
$w_logo_collapsed: 264px
$h_logo_collapsed: 38px

$mb_logo: 10px
$mb_logo_laptop: 20px
$mb_logo_tablet: 30px
$mb_logo_collapsed: 40px
$mb_logo_collapsed_tablet: 30px

$p_container: 30px
$p_container_laptop: 30px
$p_container_tablet: 20px

$w_left_side: calc(100% * 2/3)
$w_left_side_m_sm: 45%
$w_left_side_laptop: 683px
$pt_left_side: 40px
$pr_left_side: 30px
$pb_left_side: 20px

$w_nav: 304px
$w_nav_laptop: 295px
$w_nav_tablet: 236px
$pt_nav: 50px
$pr_nav: 30px
$pt_nav_tablet: 20px

$mt_menu_it: 5px
$mb_menu_it: 5px
$w_menu_it_before: 7px
$h_menu_it_before: 7px
$w_menu_it_sub: 25px

$w_rhomb: 15px
$h_rhomb: 15px
$w_rhomb_tablet: 11px
$h_rhomb_tablet: 11px
$w_title_border: 133px
$w_title_border_tablet: 80px
$w_title_border_phone: 116px
$w_modal_order: 400px

$pt_content: 35px
$pt_content_tablet: 20px
$pr_content: 80px
$pb_content: 20px
$pl_content: 70px

$p_content_laptop: 0px
$p_content_tablet: 0px

$w_content_in_about: calc(100% / 3)
$w_content_in_about_tablet: 33.3%
$ml_content_in_about: calc(100% / -6)
$h_content_in_about: 51%
$h_content_in_about_laptop: 65%

$rad: 20px
$rad_about: 50px

//content_item
$rad_content_item: 20px
$p_content_item: 5px
$p_content_item_dark: 10px


$w_ic_back: 23px
$h_ic_back: 21px

$left-side-rrt: 200px
$left-side-rrb: 100px


$h_map-wrap_mob: 90px
$h_contacts__b_mob: 100px

$w_contacts_ic: 25px
$w_contacts_ic_laptop: 20px
$w_contacts_ic_phone: 15px