//general font
$fontSize_body: 18px
$lineHeight_body: 1.2

//general fonts
$font_MontAlt_Light: 'MontserratAlt-Light', Arial, sans-serif
$font_MontAlt_Medium: 'MontserratAlt-Medium', Arial, sans-serif
$font_MontAlt_Regular: 'MontserratAlt-Regular', Arial, sans-serif
$font_MontAlt_SemiBold: 'MontserratAlt-SemiBold', Arial, sans-serif

//general color
$bg_body: #FFFFFF
$bg_dark: #3A3A3A
$bg_menu: #A50000
$col_main: #434242
$col_bg_dark: #FFFFFF
$col_acsent: rgb(252, 91, 31) //orange #FC5B1F
$col_acsent_blur: rgba(252, 91, 31, 0.5)

//h1, h2
$fontSize_h1: 26px
$lineHeight_h1: 2



$phone-width-min: 320px

$w_logo: 427px
$h_logo: 77px
$mb_logo: 10px
$w_logo_collapsed: 264px
$h_logo_collapsed: 38px
$mb_logo_collapsed: 40px

$w_left_side: 1280px
$w_left_side_m_sm: 862px
$w_left_side_laptop: 683px
$pt_left_side: 40px
$pr_left_side: 30px
$pb_left_side: 20px
$pl_left_side: 40px

$w_nav: 304px

$mt_menu_it: 5px
$mb_menu_it: 5px
$w_menu_it_before: 7px
$h_menu_it_before: 7px
$w_menu_it_sub: 25px

$w_rhomb: 15px
$h_rhomb: 15px
$w_title_border: 133px

$p_content: 55px
$p_content_m_collapsed: 40px

$w_content_in_main: 640px
$w_content_in_main_laptop: 403px
$h_content_in_main: 700px

$rad: 20px
$rad_main: 50px



